.container {
    width: 1500px;
    height: 1000px;
    background-color: gray;
}

.btn {
    margin:3px;
    width:100px;
    height:75px;
}

.scoreboard {
    float: right;
    margin-right: 300px;
    font-size: 20px;
}


canvas {
    background-color: whitesmoke;
}


